<style>
    .container-inicio {
        width: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid #000;
    }
    
    .personas, .eventos {
        justify-content: center;
    }

    ul>li {
        list-style-type: none;
    }

    ul>li>a {
        text-decoration: none;
        transition: all 0.5s;
        color: #fff;
    }

    ul>li>a:hover {
        border-bottom: 2px solid #000;
        color: rgb(77, 75, 75);
    }
</style>

<div class="container-inicio">
    <div class="personas">
        {{#if persons}}
        <h4>Ultimos 5 personas registradas</h4>
        {{#each persons}}
        <ul class="mt-1">
            <li> <a href="/persona/{{_id}}">{{nombre}} - Posteado:
                    {{fechaRegistro}} </a></li>
        </ul>
        {{/each}}
        {{else}}
        <div>
            <h5>No hay personas cargadas</h5>
        </div>
        {{/if}}
    </div>


    <div class="eventos">
        {{#if events}}
        <h4>Ultimos 5 eventos registrados</h4>
        {{#each events}}
        <ul class="mt-1">
            <li> <a href="/evento/{{_id}}">{{nombre}} - Posteado:
                    {{fechaRegistro}} </a></li>
        </ul>
        {{/each}}
        {{else}}
        <div>
            <h5>No hay eventos cargados</h5>
        </div>
        {{/if}}
    </div>
</div>